/**** Default Styles ****/
body{
    font-size: 16px;
    color: $green;
}

header{
    //styles
}

.container{
    margin: auto 0;
    position: relative;
    p{
        color: $red;
        padding: 5px;
    }
}




